@use "../../../../../../styles/helpers" as *;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
    border-radius: rem(16);
    color: var(--text-light);
    font-weight: 600;
    padding-bottom: fluid(10, 6);
    transition-duration: var(--transition-duration);
    overflow: hidden;
    @include hover {
        background-color: var(--divider-dark);
    }
}

.image {
    border-radius: rem(4);
    grid-area: image;
    margin-bottom: fluid(12, 6);
    height: rem(135);
    width: 100%;
    object-fit: cover;
    user-select: none;
    background-color: var(--background-dark-medium);
}
