@use "../helpers" as *;

.button {
    color: var(--text-light);
    background-color: var(--block-light);
    padding: rem(9) fluid(18, 15);
    font-weight: 600;
    line-height: fluid(18, 16);
    border-radius: fluid(9, 6);
    border: none;
    transition-duration: 0.4s;

    &--not-active {
        opacity: 0.3;
        pointer-events: none;
        user-select: none;
    }
    &--interactive {
        width: rem(42);
        height: rem(42);
        background-color: transparent;
        border: none;
        padding: 0;
        border-radius: rem(8);
    }
}
