@use "../helpers" as *;

.icon {
    &--medium {
        width: fluid(24, 15);
        height: fluid(24, 15);
    }
    &--large {
        width: fluid(32, 22);
        height: fluid(32, 22);
    }
    &--extra-large {
        width: fluid(48, 32);
        height: fluid(48, 32);
    }
    &--default-color {
        color: var(--text-placeholder);
    }
    &--yellow-color {
        color: var(--card-yellow-icon);
    }
    &--red-color {
        color: var(--red-color);
    }
    &--green-color {
        color: var(--card-status-active);
    }
    &--fill-white {
        fill: white;
    }
    &--interactive {
        transition-duration: 0.3s;
        border-radius: inherit;
        @include hover {
            color: var(--text-light);
            background-color: var(--divider-medium);
        }
    }
}
