@use "../helpers" as *;

.icon {
    &--small {
        width: rem(16);
        height: rem(16);
    }
    &--default {
        width: rem(22);
        height: rem(22);
    }
    &--medium {
        width: fluid(24, 15);
        height: fluid(24, 15);
    }
    &--large {
        width: fluid(32, 22);
        height: fluid(32, 22);
    }
    &--extra-large {
        width: fluid(48, 32);
        height: fluid(48, 32);
    }

    &--default-color {
        color: var(--text-placeholder);
    }
    &--yellow-color {
        color: var(--color-icon-yellow);
    }
    &--color-red {
        color: var(--color-red);
    }
    &--green-color {
        color: var(--color-status-green);
    }
    &--fill-white {
        fill: var(--color-white);
    }
    &--fill-light-white {
        fill: var(--text-light);
    }
    &--fill-red {
        fill: var(--color-icon-red);
    }
    &--fill-yellow {
        fill: var(--color-meta-yellow);
    }
    &--interactive {
        width: rem(42);
        height: rem(42);
        transition-duration: var(--transition-duration);
        border-radius: inherit;
        @include hover {
            color: var(--text-light);
            background-color: var(--color-medium-dark);
        }
    }
}
