@use "../../../styles/helpers" as *;

.wrapper {
    position: relative;
    display: flex;
    align-items: center;

    @include tablet {
        width: 100%;
        max-width: rem(560);
    }
}

.input {
    font-size: rem(16);
    font-weight: 600;
    width: 100%;
    height: rem(42);
    color: var(--text-light);
    padding: rem(9) rem(12) rem(9) rem(44);
    background: var(--divider-medium);
    border: rem(2) solid transparent;
    border-radius: var(--border-radius);
    outline: none;
    transition-duration: var(--transition-duration);
    appearance: none;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }

    &::placeholder {
        font-weight: 400;
        font-size: rem(17);
    }

    &:focus {
        background: var(--divider-dark);
        border-color: var(--text-light);
    }

    @include hover {
        background: var(--divider-dark);
    }
}
.icon {
    position: absolute;
    left: rem(12);
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-placeholder);
    width: rem(24);
    height: rem(24);
    pointer-events: none;
}
