@use "../../../styles/helpers" as *;

.wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-light);
    font-weight: 800;
}
.title {
    font-size: fluid(50, 30);
    text-transform: uppercase;
}

.icon {
    user-select: none;
    fill: var(--text-light);
    height: fluid(60, 30);
    width: fluid(60, 30);
    @include mobile {
        display: none;
    }
}
