@use "helpers" as *;

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

::-webkit-scrollbar-track {
    background-color: var(--color-medium-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-placeholder);
}

html {
    &.is-lock {
        overflow: hidden;
    }
}

html {
    scrollbar-color: var(--text-placeholder) var(--color-medium-dark);
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family-base);
    letter-spacing: 0.03em;
    color: var(--text-medium);
    background-color: var(--background-main);
}

main {
    flex-grow: 1;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}
