@use "./helpers" as *;

:root {
    --header-max-width: #{rem(1728)};
    --header-max-height: #{rem(72)};
    --header-padding-x: #{rem(24)};
    --container-max-width: #{rem(1500)};
    --container-padding-x: #{rem(15)};

    --border-radius: #{rem(8)};
    --border-width: #{rem(1)};
    --border-color: var(--text-medium);
    --border: var(--border-width) solid var(--border-color);

    --transition-duration: 0.2s;

    --pages-title-bg: linear-gradient(135deg, rgba(18, 54, 31, 0), rgba(146, 183, 213, 0.61));
    --pages-title-bg-leagues: linear-gradient(135deg, #611c4e, rgba(13, 184, 115, 0.68));
    --pages-title-bg-error: linear-gradient(-100deg, #0b0a0a, rgba(223, 78, 78, 0.4));

    --gradient-bg-blue: linear-gradient(to left, #5e6fcf, #4152a4);
    --gradient-bg-light-blue: linear-gradient(to left, #2995a3, #32838f);
    --gradient-bg-yellow: linear-gradient(to left, #d27f19, #a76611);
    --gradient-bg-orange-red: linear-gradient(to left, #af6118, #cb3a76);
    --gradient-bg-dark-green: linear-gradient(to left, #54a081, #107f56);

    --color-green: rgb(42, 203, 79);
    --color-red: #de4e4d;
    --color-yellow: #ffe462;
    --color-meta-yellow: #d6af4c;
    --color-warning-bg: rgba(223, 78, 78, 0.4);
    --color-status-green: #73d285;
    --color-icon-yellow: #c7b147;
    --color-icon-red: #df4e4e;
    --color-dark: #1b1b1b;
    --color-medium-dark: #262626;
    --color-white: #ffffff;
    --text-light: #cecece;
    --text-medium: #a1a1a1;
    --text-dark: #626161;
    --text-placeholder: #5b5b5b;

    --block-light: #1b1b1b;
    --block-medium: #141414;
    --block-dark: #0a0a0a;

    --background-main: #000;
    --background-dark-medium: rgba(255, 255, 255, 0.12);
    --card-background: #101010;

    --font-family-base: "Manrope", sans-serif;
    --font-family-accent: "Roboto", sans-serif;
}
