@use "./helpers" as *;

:root {
    --header-max-width: #{rem(1728)};
    --header-padding-x: #{rem(24)};
    --padding-button: 40px;
    --container-max-width: #{rem(1490)};
    --container-padding-x: #{rem(15)};

    --border-radius: #{rem(8)};
    --border: #{rem(1)} solid var(--text-medium);

    --transition-duration: 0.2s;

    --pages-title-bg: linear-gradient(135deg, #717171, #404040);

    --card-image-border: #{rem(1) solid var(--divider-medium)};
    --card-default-font-size: #{fluid(16, 14)};
    --card-default-line-height: #{fluid(16, 14)};
    --card-status-active: #73d285;
    --card-yellow-icon: #c7b147;
    --card-commands-hover-color: #1d1d1d;
    --text-light: #cecece;
    --text-medium: #a1a1a1;
    --text-dark: #666;
    --text-placeholder: #5b5b5b;
    --text-yellow: #ffe462;
    --red-color: #de4e4d;
    --divider-medium: #262626;
    --divider-dark: #1b1b1b;
    --block-light: #1b1b1b;
    --block-medium: #141414;
    --block-dark: #0a0a0a;
    --background-background: #000;
    --card-background: #101010;
    --font-family-base: "Manrope", sans-serif;
    --font-family-accent: "Roboto", sans-serif;
}
