@use "../../styles/helpers" as *;

.competitions {
    padding-top: fluid(40, 24);
    padding-bottom: fluid(120, 40);
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: fluid(42, 24);
}
