@use "../../../../styles/helpers" as *;
.background {
    background: var(--pages-title-bg-error);
}
.container {
    margin-top: rem(24);
    margin-bottom: rem(24);
}
.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(16);
    background-color: var(--color-warning-bg);
    border-radius: rem(4);
    padding: rem(16);

    @include mobile {
        flex-direction: column;
    }
}
.info {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
}
.wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(10);
}

.title {
    color: var(--text-light);
    font-size: rem(14);
    font-weight: 700;
}
.actions {
    display: flex;
    align-items: center;
    gap: rem(10);
}
.link {
    position: relative;
    gap: rem(8);
    font-weight: 700;
    border-radius: rem(4);
    background: rgba(255, 255, 255, 0.08);
    text-decoration: none;
    align-items: center;
    text-align: center;

    @include hover {
        background: rgba(255, 255, 255, 0.12);
    }
}
