@use "../../../../styles/helpers" as *;

.submenu {
    position: absolute;
    top: calc(var(--header-max-height) - rem(4));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: rem(10);
    padding: rem(9);
    row-gap: rem(6);
    background: rgba(18, 18, 18, 0.8);
    margin: 0;
    min-width: fluid(252, 120);
    font-family: var(--font-family-base);
    backdrop-filter: blur(rem(10));

    @include tablet {
        position: relative;
        top: rem(-20);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.item {
    width: 100%;
    padding-block: fluid(14, 10);
    padding-inline: fluid(12, 8);
    color: var(--text-light);
    font-weight: 500;
    border-radius: rem(9);
    @include fluid-text(16, 12);

    @include tablet {
        &:first-child {
            margin-top: rem(16);
        }
    }

    @include hover {
        color: var(--text-light);
        background: var(--color-dark);
        cursor: pointer;
    }
}

.link {
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
