@use "../../../../../../styles/helpers" as *;

.header {
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);
    margin-bottom: fluid(20, 12);
}
.title {
    display: inline-flex;
    column-gap: fluid(12, 9);
    font-size: fluid(18, 15);
    line-height: fluid(18, 15);
    font-weight: 700;
    color: var(--text-light);
    align-items: center;
    & h2 {
        font-size: inherit;
        line-height: inherit;
    }
}
.button {
    position: relative;
    font-size: fluid(16, 14);
    cursor: pointer;
    @include hover {
        background-color: var(--color-medium-dark);
    }
}
