@use "../../../../../styles/helpers" as *;

.image {
    border: var(--card-image-border);
    border-radius: rem(12);
    max-height: rem(112);
    width: 100%;
    object-fit: cover;
    height: auto;
    user-select: none;
}
