@use "../../styles/helpers" as *;
.wrapper {
    display: flex;
    align-items: center;
    font-size: fluid(16, 14);
    line-height: fluid(16, 14);
    font-weight: 600;
    max-height: rem(42);
    position: relative;
    background: var(--divider-medium);
    border-radius: var(--border-radius);
    color: var(--text-light);
}

.input {
    transition-duration: var(--transition-duration);
    padding: rem(8) rem(8) rem(8) rem(40);
    border-radius: inherit;
    border: rem(2) solid transparent;
    outline: none;
    border-radius: inherit;
    background: inherit;
    appearance: none;
    max-height: inherit;
    color: inherit;
    width: 100%;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }

    &::placeholder {
        font-weight: 400;
        font-size: fluid(16, 14);
    }

    &:focus {
        background: var(--divider-dark);
        border-color: var(--text-light);
    }

    @include hover {
        background: var(--divider-dark);
    }
}
.icon {
    position: absolute;
    left: rem(8);
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-placeholder);
    width: rem(24);
    height: rem(24);
    pointer-events: none;
}
