@use "../../../../../../../styles/helpers" as *;

.card {
    position: relative;
    overflow: hidden;
    font-size: rem(8);
    white-space: wrap;
    width: 100%;
    height: rem(60);
    cursor: pointer;
    border-radius: rem(4);
    background: rgb(20 20 20);
    box-shadow: rgb(100 100 100 / 50%) 0px 0px rem(4);
    z-index: 0;
    // will-change: transform;
    transition: opacity var(--transition-duration) ease-in-out;

    @include hover {
        z-index: 1;
        box-shadow:
            rgb(0, 0, 0) 0px rem(7) rem(8) rem(-4),
            rgb(0, 0, 0) 0px rem(12) rem(17) rem(2),
            rgb(0, 0, 0) 0px rem(5) rem(22) rem(4);
        width: initial;
        transform: scale(1.8);
        transform-origin: center center;

        filter: grayscale(0);
    }
}

.image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(0.3);
    border-radius: inherit;
    pointer-events: none;
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
}
.meta {
    border-radius: rem(4);
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: rem(1) solid var(--color-meta-yellow) !important;
        border-radius: inherit;
        pointer-events: none;
    }
}
.icon {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(14);
    height: rem(14);
}
