@use "../../../../../styles/helpers" as *;

.container {
    display: flex;
    flex-direction: column;
    margin-top: rem(24);
    margin-bottom: rem(24);
}
.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);
    @include laptop {
        grid-template-columns: repeat(1, 1fr);
    }
}
.actions {
    display: flex;
    align-self: center;
    margin-bottom: rem(24);
    column-gap: rem(10);
}
.input {
    max-width: rem(240);
    background: var(--block-medium);
}
