@use "../../../styles/helpers" as *;

.button {
    width: rem(34);
    height: rem(34);

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(8.5) rem(4.25);
    color: var(--text-placeholder);
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 2;

    &.is-active {
        .line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(rem(5), rem(5));
            }
            &:nth-child(2) {
                transform: rotate(-45deg) translate(rem(5), rem(-5));
            }
        }
    }

    @include hover {
        color: var(--text-light);
    }
}

.line {
    width: 100%;
    height: rem(2);
    background-color: currentColor;
    border-radius: rem(32);
    transition-duration: var(--transition-duration);
    transform-origin: center;
}
