@use "../../styles/helpers" as *;

.header {
    background: var(--block-medium);
    border-bottom: rem(1) solid var(--divider-medium);
    z-index: 20;
}

.wrapper {
    padding-block: rem(14);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
    max-width: var(--header-max-width);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.overlay {
    @include tablet-above {
        display: contents;
    }

    @include tablet {
        position: fixed;
        inset: 0;
        display: grid;
        grid-template-rows: rem(50) rem(50) auto;
        justify-items: center;
        row-gap: rem(18);
        padding: 1rem;
        background-color: var(--background-background);
        transition-duration: 0.5s;

        &:not(.is-active) {
            @include hide;
            translate: 0 -100%;
        }
    }
}
