@use "../../../../../../styles/helpers" as *;
.wrapper {
    margin-bottom: rem(24);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: fluid(24, 6);
    width: 100%;

    @include mobile-s {
        grid-template-columns: repeat(2, 1fr);

        gap: rem(16);
        & > *:last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }
    }
}
.spinner {
    margin-block: rem(24);
}
