@use "../../../../styles/helpers" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(18);
}
.status {
    display: flex;
    align-items: center;
    column-gap: fluid(8, 5);
    color: var(--card-status-active);
}
