@use "../../../styles/helpers" as *;

.item {
    position: relative;
    transition-duration: var(--transition-duration);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-radius: rem(9);
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: rem(10);

    @include hover {
        color: var(--text-light);
        background: var(--divider-dark);
    }

    &__icon {
        &--right {
            margin-left: rem(2);
            @include tablet {
                margin-left: auto;
            }
        }
        &--left {
            fill: currentColor;
            margin-right: rem(12);
        }
    }

    &.is-active {
        color: var(--text-light);
        background-color: var(--divider-medium);
        cursor: pointer;
        @include tablet {
            .item__icon--right {
                transform: rotate(180deg);
            }
        }
    }

    &.is-active-route {
        color: var(--text-light);
        background-color: var(--divider-medium);
        cursor: pointer;
    }

    @include tablet-above {
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: rem(10);
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: rem(10);
        }
    }
}
