@use "../../../styles/helpers" as *;

.link {
    position: relative;
    z-index: 0;
    border-radius: var(--border-radius);
}
.image {
    width: rem(42);
    height: rem(42);
    font-size: rem(10);
    border-radius: inherit;
    background-color: var(--color-medium-dark);
}
