@use "../../../styles/helpers" as *;

.image {
    width: rem(42);
    height: rem(42);
    font-size: rem(10);
    border: rem(1) solid var(--divider-medium);
    border-radius: var(--border-radius);
    background-color: var(--divider-medium);
}
