@use "../../../styles/helpers" as *;

.link {
    display: flex;
    column-gap: rem(6);
    z-index: 2;
    text-decoration: none;
    color: var(--text-light);
    @include tablet-above {
        margin-right: rem(18);
    }
}

.image {
    height: rem(47);
    width: rem(47);
    min-width: rem(38);
    position: relative;
}
